.container {
  display: flex;
  flex-direction: row;
}

.fieldset {
  flex: 1;
  border-radius: 10px;
  margin: 15px;
  
}

button {
  margin: 15px;
  padding: 15px 30px 15px 30px;
  border-radius: 10px;
  font-size: large;
  font-weight: bold;
  
}

.inputMerk{
  border: none;
  width: 95%;
  /* background-color: black; */
  padding: 10px;
  font-size: large;
}



select {
  -webkit-appearance: none;
  -moz-appearance: none;
  text-indent: 1px;
  text-overflow: '';
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.inputMerk::after{
  border: none;
}

input[type="text"]:focus{
  box-shadow: 0 0 0 rgb(255, 255, 255);
}

input[type="checkbox"]:focus{
   box-shadow: 0 0 0 rgb(255, 255, 255);
}

.App {
  /* margin: 10%; */
  border-color: black;
  border-width: 2px;
  /* border-radius: 2px; */
  padding: 5%;
  /* background-color: bisque; */
}

.formTambahBarang {
  border-width: 2px;
  /* border-radius: 10px; */
  padding: 5%;
  /* background-color: aqua; */
}